@media (max-width: 900px){
    #page-home{
        display:block;
        background-position-x: 70vw;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #page-home header{
        display:block;
        bottom: 5vw;
    }
    #page-home main{
        align-items:center;
    }

    #page-search-results .cards{
        grid-template-columns: 1fr;
    }
    main .card img {
       width: 80vw;
    }
}
@media (min-width: 1600px){
    #page-home{
        background-position-x: 40vw;
    }
}
@media (max-height: 690px){
    #page-home{
        background-position-y: 5vw;
    }
}